* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: black;
    background-color: #f8f8fa;
}
header {
     align-items: center;
     background-color: #bfb7f5;
     color: #fff;
     padding: 30px;
     display: flex;
     justify-content: space-between;
     box-shadow: 0 4px 8px rgba(9, 5, 243, 0.925);




}
